<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        function writeArticle() {
            //글을 쓴 사람의 정보
            let user_name = $('#write-name').val()
            let user_title = $('#write-text').val()
            let user_password = $('#write-password').val()
            let user_contents = $('#exampleFormControlTextarea1').val()
            let user_date = Date.now;
            $.ajax({
                type: 'POST',
                async: true,
                url: '/api/toWrite',
                dataType: 'json',
                data: {
                    name: user_name,
                    title: user_title,
                    password: user_password,
                    contents: user_contents,
                    createDate: user_date
                },
                success: function (response) {
                    if(response['success']) {
                        location.href = '/';
                        alert(response['success']);
                    } else {
                        alert(response['fail']);
                    }
                }
            });
        }
    </script>
    <title>글쓰기</title>
</head>

<body>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
        </div>
        <input type="text" id="write-name" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
        </div>
        <input type="text" id="write-text" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
        </div>
        <input type="text" id="write-password" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick="writeArticle()">글쓰기</button>
</body>

</html>